.rcgv-event-pitch {
  span {
    position: absolute;
    font-weight: bold;
    font-size: 1.1em;
    width: 1.5em;
    text-align: center;

    .badge {
      background-color: @rcgv-red;
      padding: 3px 0;
    }

    &.rcgv-event-first-row {
      margin-top: @first-row-height-desktop;

      &.one {
        left: @one-desktop;
      }
      &.two {
        left: @two-desktop;
      }
      &.three {
        left: @three-desktop;
      }
    }

    &.rcgv-event-second-row {
      margin-top: @second-row-height-desktop;

      &.four {
        left: @four-desktop;
      }
      &.five {
        left: @five-desktop;
      }
    }

    &.rcgv-event-third-row {
      margin-top: @third-row-height-desktop;

      &.six {
        left: @six-desktop;
      }
      &.eight {
        left: @eight-desktop;
      }
      &.seven {
        left: @seven-desktop;
      }
    }

    &.rcgv-event-half-row {
      margin-top: @half-row-height-desktop;

      &.nine {
        left: @nine-desktop;
      }
      &.ten {
        left: @ten-desktop;
      }
    }

    &.rcgv-event-back-row {
      margin-top: @back-row-height-desktop;

      &.eleven {
        left: @eleven-desktop;
      }
      &.twelve {
        left: @twelve-desktop;
      }
      &.thirteen {
        left: @thirteen-desktop;
      }
      &.fourteen {
        left: @fourteen-desktop;
      }
    }

    &.rcgv-event-fullback-row {
      margin-top: @fullback-row-height-desktop;

      &.fifteen {
        left: @fifteen-desktop;
      }
    }
  }
}

.rcgv-event-subs-list {

  li {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    .badge {
      background-color: @rcgv-red;
      padding: 3px 5px;
    }
  }

  .glyphicon-chevron-right {
    color: @rcgv-green;
  }

  .glyphicon-chevron-left {
    color: @rcgv-red;
  }
}

.rcgv-event-subs {
  padding-top: 15px;
}
